body{ 
	font-size: Segoe UI;
	font-size: 15px;
	color: #777;
}
header{
	position: relative;
	background-color: #f9f9f9;
	width: 100%;
	top:0;
}
footer{
	background-color: #30363d;
	padding: 30px;
	color: #999;
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p{
	margin-bottom: 0;
}

.carousel-caption{
	display: grid;
	align-content: center;
	height: 100%;
	text-align: left;
}
.carousel-caption h1{
	font-size: 60px;
	margin-bottom: 30px;
}
.caption1{
	display: grid;
	align-content: center;
	height: 100%;
	text-align: left;
}